$border-radius: 0.5em;

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    height: 100%;
    background-color: rgb(80, 80, 80);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: gray;
    z-index: 2;
    padding: 0 1em;
    line-height: 1em;

    h1 {
        display: flex;

        .reverse {
            transform: scaleX(-1);
            display: inline-block;
        }

        .two {
            color: white;
            font-size: 1.5em;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes spawn {
    from {
        opacity: 0;
        transform: scaleY(0);
        width: 0;
    }
}

@keyframes spread {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 5em;

    img {
        pointer-events: none;
        border-radius: $border-radius;
    }

    .item {
        border-radius: $border-radius;
        position: relative;
        transform-origin: center top;
        overflow: hidden;
        // transform: rotate3d(var(--rot-dir-x),
        //         var(--rot-dir-y),
        //         0,
        //         var(--rot-magnitude));
        box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.2);

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            aspect-ratio: 1;
            transform: translate(var(--mouse-x), var(--mouse-y)) skew(0, 0);
            border-radius: 50%;
            filter: blur(24em);
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.1);
            opacity: 0;
        }

        &:hover::before {
            animation: fadeIn 0.2s forwards;
            opacity: 1;
        }

    }

    .arrow {
        width: 3em;
        aspect-ratio: 1;
        border: 2px solid black;
        border-radius: 50%;
        background-size: 70%;
        background-position: 50%;
        background-repeat: no-repeat;
        filter: invert(1);
        background-image: url("https://cdn.onlinewebfonts.com/svg/download_315092.png");
    }

    &>.item {
        width: 24em;
        margin: 2em;
        animation: spawn 1s forwards;
        border: 1px solid rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 10em;
        transform: translateX(var(--translate-x)) translateY(var(--translate-y)) rotate(var(--rotate));

        img {
            width: 100%;
            margin-bottom: -5px;
        }

        .info {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            background-color: aliceblue;
            opacity: inherit;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            h2 {
                text-align: center;
                color: #333333;
            }
        }
    }

    .options-container {
        max-width: 100%;
        overflow-x: scroll;
        position: absolute;
        top: 54em;

        .options {
            display: flex;
            flex-direction: row;

            .item {
                width: 8em;
                margin: 1em;
                flex-shrink: 0;
                animation: spread 1s forwards;

                img {
                    width: 100%;
                }

                .info {
                    display: none;
                }
            }
        }
    }
}